/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
 	font-family: 'Montserrat', sans-serif;
 	color: #fff;
 	font-size: 18px;
}


/* /Fonts */

/* Document */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  color:#fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* /Document */

/* Common */

.centered {
  display: flex;
  flex-flow: row nowrap;
  justify-content:  center;
  align-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
}


/*Button styled by Alex Loomer - CODEPEN link - https://codepen.io/atloomer/pen/JEaRWX */
.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #fff;
  margin: 20px 20px 20px 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.button-circle {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-circle a {
  position: relative;
  transition: all .45s ease-out;
}

.button-circle__circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: all .5s ease-out;
  top: 20px;
  left: 70px;
}

.button-circle:hover .button-circle__circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button-circle:hover a {
  color: #2D3142;
}

.img {
  max-width: 100%;
  height: auto;
  max-height: 550px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img__container {
  max-width: 50%;
  margin: 0 20px;
}

@media screen and (max-width: 425px) {
  .img__container {
  max-width: 100%;
  }
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file__label {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #fff;
  margin: 20px 20px 20px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.input-file__label span {
  position: relative;
  transition: all .45s ease-out;
}

.input-file__circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: all .5s ease-out;
  top: 20px;
  left: 70px;
}

.input-file__label:hover .input-file__circle,
.input-file:focus + .input-file__label .input-file__circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.input-file__label:hover span,
.input-file:focus + .input-file__label span {
  color: #2D3142;
}

/* Common */

/* Navigation */

.nav {
	display:  flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.bordered {
	border: 1px solid #fff;
}

.logo {
  margin: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
}

.logo {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-25 3:49:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


/* /Navigation */

/* Form */
.form {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.form__input {
  border: 0;
  padding: 7px 5px;
  margin: 0 20px;
  height: 40px;
  flex-grow: 1;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.form__input-file {
  visibility: hidden;
}

.form__input:hover, .form__input:focus {
  box-shadow: 0 5px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


@media screen and (max-width: 425px) {
  .input__button {
    flex-grow: 1;
  }

  .input-file__label {
    flex-grow: 1;
  }
}

/* /Form */

/* Presenter */

.template-center {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.template-around {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}



/* /Presenter */

/* Loader */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 10;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* /Loader */

/* Data Lists */

.list__container {
  margin: 20px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.list__container ul {
  width: 100%;
}

.list__container h2 {
  margin: 0;
  text-transform: uppercase;
}

.list__heading, .list__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.list__heading {
  font-size: 0.7em;
  margin-top: 25px;
  text-transform: uppercase;
}

.list__heading h4 {
  padding-right: 5px;
  margin: 0;
}

.list__item {
  font-size: 0.9em;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* /Data Lists */


/* Error Box */

.ErrorBox {
  max-width: 600px;
  margin:  20px;
  box-sizing: border-box;
  border: 10px solid #fff;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* /Error Box */

/* Face Box */

.FaceBox {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.FaceBox:hover, .FaceBox-active {
  box-shadow: 0 0 0 3px #FFC859 inset;
}

/* /Face Box */